@import 'variables';

* {
  box-sizing: border-box;
  color: $dark-font;
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Text Styles */
.text-center { text-align: center; }
.text-thin { font-weight: 300; }
.text-light { color: $medium-grey; }
p { margin: 0; }
strong { font-weight: 700; }
i { color: $medium-grey; }
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-size: .85em;
  font-style: italic;
  font-weight: 100;
  line-height: 1.5em;
  color: #666;
}

a, a:hover {
  color: $dark-font;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, $light-grey 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 17px;
}

/* Spacing */
.no-m-t { margin-top: 0 !important; }
.margin-t-m { margin-top: 4rem !important; }

/* hr */
hr {
  border: 0;
  border-top: 1px solid $light-grey;
  margin: 0;
}

/* List Styles */
ul {
  padding-left: 0;
  list-style: none;

  &.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

/* Main Column */
.main { padding: 4rem 1em; }

.about-section {
  margin: 4rem 0;

  p {
    margin-bottom: 1.5em;

    &:last-child { margin-bottom: 0; }
  }
}

.gravatar {
  border-radius: 50%;
  display: block;
  margin: 0 auto 4rem;
  height: 150px;
  width: 150px;
}

/* Contact */
ul {
  margin: 4rem 0;

  &.contact.list-inline > li {
  position: relative;
  padding-left: 2em;

    i {
      position: absolute;
      left: .8em;
    }
  }
}

.resume-heading {
  font-size: 1.5em;
  margin: 4rem 0 1.5rem;
}

.resume-description {
  h4 {
    font-family: 'Noto Serif', serif;
    margin-top: 1.5em;
  }

  .skills-circles {
    float: right;

    .ion.ion-record {
      margin-right: 4px;
      color: $light-grey;

      &.occupado {
        color: $dark-font;
      }
    }
  }
}
